{% extends 'shared/baseDesigner.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/cardKanbanFunction.js' %}"></script>

<div class="cards" style="display: flex; flex-wrap: nowrap; margin-bottom: 40%;">
    <div class="a-fazer" style="width: 20%; height: 100%; background-color: #FAFAFA; text-align: center; border-radius: 10px; display: flex; flex-direction: column; align-items: center; border: 1px solid black">
        <h1 style="font-size: 22px;">Á fazer</h1>
        {% for art in arts%}
        {% if art.status == "APROVADO"%}
        <div class="card-kanban"style="width: 90%; background-color: #dadada; border-radius: 10px; margin: 10px; padding: 10px;"> 
                <p>Cliente: {{art.idCustomer}}</p>
                <p>Produto: {{art.idOrder}}</p>
                <p>Data de envio: {{art.date}}</p>
                <div style="display: flex; justify-content: space-around;">
                    <a href="{% url 'pegar_card' art.id %}" style="text-decoration: none; color: black;">
                        <img src="{% static 'assets/ícones/1x/verificar.png' %}">
                    </a>
                    <a href="{% url 'detalhe_arte' art.id %}" style="text-decoration: none; color: black;">
                        <img src="{% static 'assets/ícones/1x/meus-pedidos.png' %}" style="width: 16px; height: 16px;">
                    </a>
                </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="fazendo" style="width: 20%; height: 100%; background-color: #FAFAFA; text-align: center; border-radius: 10px; display: flex; flex-direction: column; align-items: center; margin-left: 1%; border: 1px solid black">
        <h1 style="font-size: 22px;">Fazendo</h1>
        {% for art in arts%}
        {% if art.status == "EM_ANDAMENTO"%}
        <div class="card-kanban"style="width: 90%; background-color: #dadada; border-radius: 10px; margin: 10px; padding: 10px;">
            <a href="{% url 'detalhe_arte' art.id %}" style="text-decoration: none; color: black;">
                <p>Cliente: {{art.idCustomer}}</p>
                <p>Produto: {{art.idOrder}}</p>
                <p>Data de envio: {{art.date}}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="concluido" style="width: 20%; height: 100%; background-color: #FAFAFA; text-align: center; border-radius: 10px; display: flex; flex-direction: column; align-items: center; margin-left: 1%; border: 1px solid black">
        <h1 style="font-size: 22px;">Concluído </h1>
        {% for art in arts%}
        {% if art.status == "CONCLUÍDO"%}
        <div class="card-kanban"style="width: 90%; background-color: #dadada; border-radius: 10px; margin: 10px; padding: 10px;">
            <a href="{% url 'detalhe_arte' art.id %}" style="text-decoration: none; color: black;">
                <p>Cliente: {{art.idCustomer}}</p>
                <p>Produto: {{art.idOrder}}</p>
                <p>Data de envio: {{art.date}}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="alteracao" style="width: 20%; height: 100%; background-color: #FAFAFA; text-align: center; border-radius: 10px; display: flex; flex-direction: column; align-items: center; margin-left: 1%; border: 1px solid black">
        <h1 style="font-size: 22px;">Alterações </h1>
        {% for art in arts%}
        {% if art.status == "ALTERAÇÃO"%}
        <div class="card-kanban"style="width: 90%; background-color: #dadada; border-radius: 10px; margin: 10px; padding: 10px;">
 
            <p>Cliente: {{art.idCustomer}}</p>
            <p>Produto: {{art.idOrder}}</p>
            <p>Data de envio: {{art.date}}</p>
            <div style="display: flex; justify-content: space-around;">
                <a href="{% url 'pegar_card' art.id %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'assets/ícones/1x/verificar.png' %}">
                </a>
                <a href="{% url 'detalhe_arte' art.id %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'assets/ícones/1x/meus-pedidos.png' %}" style="width: 16px; height: 16px;">
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    {% for art in arts%}
    {% if art.status == "APROVADA"%}
    <div class="aprovado" style="width:20%; height: 100%; background-color: #FAFAFA; text-align: center; border-radius: 10px; display: flex; flex-direction: column; align-items: center; margin-left: 1%; border: 1px solid black">
        <h1 style="font-size: 22px;">Aprovados </h1>
        <div class="card-kanban"style="width: 90%; background-color: #dadada; border-radius: 10px; margin: 10px; padding: 10px;">
            <p>Cliente: {{art.idCustomer}}</p>
            <p>Produto: {{art.idOrder}}</p>
            <p>Data de envio: {{art.date}}</p>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}