{% load static %}
</main>
<footer class="rodape" style="width: 100%; ">
    <div class="rodape__icones">
        <a href="" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/twitter.png' %}" alt="ícone twitter">
        </a>
        <a href="" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
        <a href="" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/facebook.png' %}" alt="ícone facebook">
        </a>
        <a href="" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/whatsapp.png' %}" alt="ícone whatsapp">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Papello</p>
</footer>