{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://twitter.com/AluraOnline" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/twitter-32px.png' %}" alt="ícone twitter">
        </a>
        <a href="https://www.instagram.com/aluraonline/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/insta-32px.png' %}" alt="ícone instagram">
        </a>
        <a href="https://www.instagram.com/aluraonline/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/face-32px.png' %}" alt="ícone facebook">
        </a>
        <a href="https://www.instagram.com/aluraonline/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/whats-32px.png' %}" alt="ícone whatsapp">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Papello</p>
</footer>