{% load static %}
<section class="conteudo">
    <section class="banner">
        <img class="banner__imagem" src="{% static 'assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
        <h1 class="banner__titulo"> Bem-vindo ao Artflow!</h1>
    </section>
    <section class="tags">
        <p class="tags__titulo">Busque por tags:</p>
        <ul class="tags__lista">
            <li class="tags__tag"><a href="{% url 'filtro' 'BRIEFING' %}" class='btn' style="color: #c9c9c9;">Briefing</a></li>
            <li class="tags__tag"><a href="{% url 'filtro' 'REVISÃO' %}" class='btn' style="color: #c9c9c9;">Revisão</a></li>
            <li class="tags__tag"><a href="{% url 'filtro' 'CONFECÇÃO' %}" class='btn' style="color: #c9c9c9;">Confecção</a></li>
            <li class="tags__tag"><a href="{% url 'filtro' 'ALTERAÇÃO' %}" class='btn' style="color: #c9c9c9;">Alteração</a></li>
            <li class="tags__tag"><a href="{% url 'filtro' 'APROVAÇÃO' %}" class='btn' style="color: #c9c9c9;">Aprovação</a></li>            
            <li class="tags__tag"><a href="{% url 'filtro' 'APROVADA' %}" class='btn' style="color: #c9c9c9;">Aprovada</a></li>
    
        </ul>
    </section>