{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="card" style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="cards__titulo">Customização</h1>
    {% if pedido %}
        <div class="card__info">
            {% for item in pedido.orderItems %}
            <img src="{{item.image}}" style="width: 20%; border-radius: 30px;"></img>
            <p>{{item.nameProduct}}</p>
            {% if item.isKit %}
            <p style="font-size: 15px;">O kit contém:</p>
            {% for product in item.productsKit %}
            <p style="font-size: 15px;">-{{ product.name }}</p>
            {% endfor %}
            <p>Para esse produto você pode selecionar até {{item.productsKit|length}} arte(s).</p>
            <label>
                Selecione quantas artes para esse produto:
                <select>
                    {% for product in item.productsKit %}
                    <option>{{ forloop.counter }}</option>
                    {% endfor %}
                </select>
            </label>
        </br>
            <label>
                Clique aqui para enviar sua arte
                <input type="file"  style="width: 60%;"></input>
            </label>
            {% endif %}
            {% endfor %}
        </div>
        <button class="btn btn-success col-12" style="width: 50%;">Próximo</button>
    {% endif %}
</div>
{% endblock %}