{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_topindex.html' %}
                <section class="galeria">
               
                    <div class="cards">
                        <h2 class="cards__titulo">Artes feitas anteriormente</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for arte in cards %}
                            <li class="card">
                                <a href="{% url 'detalhe_arte' arte.id %}">
                                    <!--Mudar esse campo para arte.artefinal depois-->
                                    <img class="card__imagem" src="https://fotografias-lucas-alura-space.s3.amazonaws.com/static/{{arte.referencefiles}}" alt="foto">
                                </a>
                                <span class="card__tag">{{arte.status}}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ arte.orderProduct }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ arte.instructions }}</p>
                                        <span>
                                            <img src="{% static 'assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                           {% endfor %}
                           {% else %}
                         
                           {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
    {% endblock %}