{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/avancarProximo.js' %}"></script>

<div class="card" style="display: flex; flex-direction: column; align-items: center; padding: 5%;">
    <h1 class="cards__titulo" style="text-align: center; font-size: 40px;">Agora vamos á personalização, para seu Produto</h1>
    {% if pedido %}          
                <h2 style="line-height: 1.5;">Arte Nº{{artesQuantidade|add:1 }} do produto {{produto}}</h2>
                <div style="display: flex;">
                    <img src="{{produto.image}}" style="width: 40%; border-radius: 30px; margin-right: 5%;"></img>
                <div>
                    <p>-{{ produto }}</p>
                <form action="{% url 'envio_de_arte_por_quantidade' pedido.idOrder indice_produto artesQuantidade %}" method="POST" enctype="multipart/form-data" id="meu_formulario">
                    {% csrf_token %}
            {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <input id="indice_produto" type="hidden" name="indice" value="{{ indice_produto }}">
                </form>
                <button type="button" class="btn btn-success col-12 submit-button">Próximo</button>
                </div>
            </div>
            <br>
        {% endif %}
</div>
</div>
{% endblock %}
