{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/cardKanbanFunction.js' %}"></script>

<div class="cards" style="display: flex; flex-wrap: wrap;">
    <div class="card-detail" >
        <div class="card" style="width: 70em; height: 50em; display: flex; flex-direction: column; align-items: center; padding: 10%;">
            <h1 style="font-size: 25px;">Detalhe do Protótipo</h1>
            <p style="font-weight: bold;">Id da Compra: {{idOrder}}</p>
            <p>Cliente: {{nameClient}}</p>
            <p>Produtos: {{productName}}</p>
            <p>Data de envio: {{date}}</p>
            <img src="https://fotografias-lucas-alura-space.s3.amazonaws.com/static/{{mockup}}" style="width: 50%;" >
            <a class="btn btn-success col-12" style="width: 50%; margin-top: 2%;" href="{% url 'aprova_prototipo' artId=artId isApproved=1%}">Aprovar</a>
            <textarea placeholder="Explique aqui o que você deseja alterar no protótipo..." style="width: 50%; height: 20%; margin-top: 1%;" class="text-area" hidden></textarea>
            <a class="btn btn-danger col-12 btn-reprove" style="width: 50%; margin-top: 1%;" >Solicitar Alteração</a>
            <a class="btn btn-danger col-12 btn-reprove-true" style="width: 50%; margin-top: 1%; display: none;" href="{% url 'aprova_prototipo' artId=artId isApproved=0%}" >Solicitar Alteração</a>
        </div>
    </div>
</div>

{% endblock %}